/*Stylesheet*/

/*overall default flexbox*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/*overall default format h1-h4, paragraph, mobile*/
h1 {
  color: #d4314b;
  font-family: "IBM Plex Serif", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
}

h2 {
  color: #020608;
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  margin-left: 20px;
}
h3,
h4,
p {
  color: #020608;
  font-family: "Tajawal", sans-serif;
  font-size: 14px;
  margin-left: 20px;
}

/*overall default format h1-h4, paragraph, desktop*/
@media screen and (min-width: 800px) and (min-height: 600px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 800px) and (min-height: 600px) {
  h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 800px) and (min-height: 600px) {
  h3,
  h4,
  p {
    font-size: 20px;
  }
}

/*h1 formatting for galaxy fold*/
@media screen and (max-width: 400px) {
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

/*format header flex*/
header {
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 100%;
}
body {
  background-color: #fcfcfc;
}

/*format footer for all size*/
footer {
  background-color: #ffb2be;
  border-radius: 4px;
  bottom: 0;
  color: #020608;
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  left: 0;
  padding-top: 15px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

footer > a:-webkit-any-link {
  color: #020608;
}
.fa {
  padding-left: 20px;
}

footer > a:hover {
  color: #358cbf;
}

/*format nav bar all mobile*/
nav {
  background-color: #fcfcfc;
  border-radius: 4px;
  float: right;
  font-family: "Tajawal", sans-serif;
  font-size: 14px;
}
.not_active,
.active {
  background-color: #fcfcfc;
  padding-right: 10px;
  padding-left: 10px;
}
nav > a.not_active:hover {
  background-color: #358cbf;
  border-radius: 4px;
  color: #fcfcfc;
}
nav > a.active {
  border-color: #358cbf;
  border-radius: 4px;
  border-style: inset;
  border-width: 1px;
  color: #020608;
}
/*format nav bar desktop*/
@media screen and (min-width: 800px) {
  .not_active,
  .active {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 800px) {
  nav {
    font-size: 16px;
  }
}

/*default link styles*/
a:visited {
  text-decoration: none;
  color: #020608;
  font-family: "Tajawal", sans-serif;
}
a:-webkit-any-link {
  text-decoration: none;
  color: #020608;
}

/*Homepage formatting for mobile screen*/
.Home1 {
  width: 100%;
  height: 60%;
  margin-left: 10px;
}
.Home2 {
  width: 100%;
  height: auto;
}

/*Homepage formatting for desktop*/
@media screen and (min-width: 950px) {
  .Home1 {
    width: 60%;
    margin-right: 10%;
  }
}
@media screen and (min-height: 900px) {
  .Home1 {
    margin-top: 100px;
  }
}
@media screen and (min-width: 950px) {
  .Home2 {
    width: 25%;
    height: 330px;
    border-width: 2px;
    background-color: #358cbf;
    border-radius: 50%;
    margin-right: 2%;
  }
}
@media screen and (min-height: 900px) {
  .Home2 {
    margin-top: 100px;
  }
}
/*image format - homepage*/
.MyAvatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 2%;
}
/*image format - homepage*/

.skillslogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*About page formatting for mobile */
.About1 {
  width: 100%;
  height: auto;
  font-size: 12px;
  display: block;
  margin-left: 10px;
}
.About2 > figcaption {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Tajawal", sans-serif;
}

/*About page formatting - images*/
.About2 > picture > img {
  border-radius: 4px;
  margin-bottom: 5%;
}
/*About page formatting for desktop */
@media screen and (min-width: 950px) {
  .About1 {
    width: 63%;
    font-size: 20px;
    padding-right: 30px;
  }
}
@media screen and (min-height: 900px) {
  .About1,
  .About2 {
    margin-top: 100px;
  }
}
@media screen and (min-width: 950px) {
  .About2 {
    width: 34%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 950px) {
  .About2 > picture > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
/*About page formatting for mobile (galaxyfold) */
@media screen and (max-width: 300px) {
  .About1 > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .About2 {
    bottom: 10%;
  }
}

/* Work & Study page formatting default*/
.CV {
  padding: 0 10px 10px 10px;
}
.CV > h2 {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  color: #112d3e;
  font-family: "IBM Plex Serif", serif;
}
.CV a:-webkit-any-link {
  font-weight: 900;
  color: #112d3e;
}
.CV a:hover {
  color: #d4314b;
}
.study {
  width: 100%;
  text-align: center;
}
.work {
  width: 100%;
  text-align: center;
  margin-bottom: 15%;
}

.study > p,
.work > p {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}
.study > h2,
.work > h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 16px;
}
.study > h3,
.work > h3 {
  margin: 0;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 16px;
}

.study > h4,
.work > h4 {
  margin: 0;
  margin-left: 20px;
  font-size: 16px;
}

/* CV page formatting desktop*/
@media screen and (min-height: 950px) {
  .CVlink {
    padding-top: 90px;
  }
}
@media screen and (min-width: 800px) {
  .CVlink > h2 {
    text-align: right;
    margin-right: 5%;
  }
}
@media screen and (min-width: 900px) {
  .study {
    width: 25%;
    float: left;
  }
}
@media screen and (min-width: 900px) {
  .work {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    float: right;
  }
}
/*Blog page display formatting mobile*/
.blogmenu {
  width: 100%;
  display: flex;
}
.blogmenu > h2 {
  text-align: left;
  padding-left: 10px;
  border-radius: 6px;
  color: #112d3e;
  font-weight: 700;
  font-size: 12px;
  font-family: "IBM Plex Serif", serif;
  width: 30%;
}
ul {
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: "Tajawal", sans-serif;
  list-style-type: lower-roman;
  text-align: left;
  margin-left: 2%;
  font-size: 12px;
  line-height: 20px;
  width: 70%;
}
.blog_1,
.blog_2,
.blog_3,
.blog_4,
.blog_5 {
  width: 100%;
  margin: 1%;
}
.blog_1 > h3,
.blog_2 > h3,
.blog_3 > h3,
.blog_4 > h3,
.blog_5 > h3 {
  width: 100%;
  margin: 1%;
  text-align: center;
  text-transform: uppercase;
}
.blog_1 > p,
.blog_3 > p,
.blog_5 > p {
  width: 70%;
  float: right;
  text-align: justify;
}
.blog_5 {
  margin-bottom: 10%;
}
.blog_1 {
  margin-top: 15%;
}
.blog_1 > picture > img,
.blog_3 > picture > img,
.blog_5 > picture > img {
  float: left;
}
.blog_2,
.blog_4 {
  width: 100%;
  margin: 1%;
}
.blog_2 > p,
.blog_4 > p {
  width: 70%;
  float: left;
  text-align: justify;
}
.blog_2 > picture > img,
.blog_4 > picture > img {
  float: right;
}

/*Blog page for desktop*/
@media screen and (min-width: 800px) {
  ul {
    line-height: 40px;
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  .blogmenu > h2 {
    font-size: 20px;
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .blog_2 > p,
  .blog_4 > p {
    width: 90%;
    float: left;
    text-align: justify;
  }
}
@media screen and (min-width: 800px) {
  .blog_1 > p,
  .blog_3 > p,
  .blog_5 > p {
    width: 90%;
    float: right;
    text-align: justify;
  }
}
/*Contact page*/
/*Contact page formatting for mobile*/
.contactsection {
  width: 90%;
  background-color: #fcfcfc;
  padding: 20px 10px 60px 10px;
  border-radius: 8px;
  height: auto;
  margin-top: 10%;
  margin-right: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 700px) {
  .contactsection {
    height: 100px;
  }
}
/*Contact page formatting for desktop*/
@media screen and (min-width: 800px) {
  .contactsection {
    width: 97%;
    height: auto;
    margin-top: 1%;
  }
}
.contactform {
  width: 60%;
  margin-left: 15px;
}

@media screen and (min-height: 900px) {
  .contactsection {
    margin-top: 100px;
  }
}

input[type="text"],
[type="email"] {
  width: 100%;
  display: block;
  padding: 1%;
  margin-bottom: 2%;
  font-family: "Tajawal", sans-serif;
  border-color: #112d3e;
  border-width: 1px;
  border-radius: 4px;
}

#message {
  width: 101.5%;
  font-family: "Tajawal", sans-serif;
  border-color: #112d3e;
  border-width: 1px;
  border-radius: 4px;
}

input [type="submit"] {
  display: block;
}

.send {
  display: block;
  margin-top: 2%;
  font-family: "Tajawal", sans-serif;
  background-color: #112d3e;
  color: #fcfcfc;
  border-radius: 4px;
  border-style: none;
  padding: 1%;
}
.send:hover {
  background-color: #358cbf;
}
::placeholder {
  color: #020608;
  font-weight: 500;
}

/*image format - contactpage*/
.MyAvatarContact {
  background-color: #ffb2be;
  border-radius: 50%;
  margin-bottom: 5%;
  float: right;
  margin-right: 1%;
}
@media screen and (min-width: 800px) {
  .MyAvatarContact {
    margin-right: 10%;
  }
}
